<h1><%= @mastevent_motto%></h1>




<div align="right">
Email/User name *: <input type="text" name="username" /><br>
 Password *: <input type="Password" name="pwd" /><br><br>
 <!--<input type='submit' value='Signup'/>-->
 <a href='/user/signup'>signup</a>
 <a href='/user/login'>Login</a><br/>
</div>

<!--
<br><br>
<div align="right">
<form method='post' action='signup'>
	First Name *: <input type="text" name="firstname" /><br>
	Email/User Name *: 	<input type="text" name="email" /><br><br>
	Password *: 	<input type="password" name="password" /><br><br>
	Mobile Number: 	<input type="text" name="mobile_number" /><br><br>
	<input type='submit' value='Signup'/>
</form>

</div>

-->

