<h1><%= @mastevent_motto%></h1>




<div align="right">
<form method='post' action='login'>	
Email/User name *: <input type="text" name="email" /><br>
 Password *: <input type="Password" name="password" /><br><br>

 <input type="submit" value="login" />
</form>
</div>

 <a href='/signup'>Click To Signup</a>

<!--
<br><br>
<div align="right">
<form method='post' action='signup'>
	First Name *: <input type="text" name="firstname" /><br>
	Email/User Name *: 	<input type="text" name="email" /><br><br>
	Password *: 	<input type="password" name="password" /><br><br>
	Mobile Number: 	<input type="text" name="mobile_number" /><br><br>
	<input type='submit' value='Signup'/>
</form>

</div>

-->

