<em><p style="position:absolute; TOP:80px; LEFT:190px;font-size:30px;font-family:Comic Sans MS, cursive, sans-serif ">Want To Make Money?</p></em>
<em><p style="position:absolute; TOP:130px; LEFT:190px;font-size:30px;font-family:Georgia, Serif; ">Join Events And Get Paid!</p></em>

<img   src="/images/moto2.png " style="position:absolute; TOP:180px; LEFT:0px"/>