<div>
<em><p style="position:absolute; TOP:90px; LEFT:170px;font-size:30px;font-family:Comic Sans MS, cursive, sans-serif ">Want To Make Money?</p></em>
<em><p style="position:absolute; TOP:140px; LEFT:170px;font-size:30px;font-family:Georgia, Serif; ">Join Events And Get Paid!</p></em>


<em><p style="position:absolute; TOP:102px; LEFT:730px;color:#8C8C8C;font-size:25px;font-family:Georgia, Serif; ">24x7 Call us (+91)07507327585</p></em>



<img   src="/images/user_moto.png " style="position:absolute; TOP:280px; LEFT:180px"/>

<em><p style="position:absolute; TOP:380px; LEFT:145px;font-size:25px;font-fami104:Georgia, Serif; ">Choose Location</p></em>


<em><p style="position:absolute; TOP:380px; LEFT:370px;font-size:25px;font-family:Georgia, Serif; ">Choose Event</p></em>

<em><p style="position:absolute; TOP:380px; LEFT:605px;font-size:25px;font-family:Georgia, Serif; ">Do Event</p></em>

<em><p style="position:absolute; TOP:380px; LEFT:805px;font-size:25px;font-family:Georgia, Serif; ">Get Paid</p></em>

<em><p style="position:absolute; TOP:430px; LEFT:145px;font-size:25px;font-family:Georgia, Serif; ">Sign Up As Volunteer</p></em>


<a style="position:absolute; TOP:456px; LEFT:430px;font-size:25px;font-family:Georgia, Serif;text-decoration:none"   href="/user/new">Sign up</a>




<img   src="/images/coordinator_moto.png " style="position:absolute; TOP:640px; LEFT:180px"/>

<em><p style="position:absolute; TOP:750px; LEFT:145px;font-size:25px;font-family:Georgia, Serif; ">Post Event/Activity</p></em>


<em><p style="position:absolute; TOP:750px; LEFT:370px;font-size:25px;font-family:Georgia, Serif; ">Get Coordinators/</p></em>
<em><p style="position:absolute; TOP:780px; LEFT:370px;font-size:25px;font-family:Georgia, Serif; ">Volunteers</p></em>


<em><p style="position:absolute; TOP:750px; LEFT:690px;font-size:25px;font-family:Georgia, Serif; ">Organise Events</p></em>
<em><p style="position:absolute; TOP:780px; LEFT:690px;font-size:25px;font-family:Georgia, Serif; ">As You Like</p></em>



<em><p style="position:absolute; TOP:815px; LEFT:145px;font-size:25px;font-family:Georgia, Serif; ">Sign Up As Coordinator/Event Oganiser</p></em>



<a id="navbar" style="position:absolute; TOP:840px; LEFT:620px;font-size:25px;font-family:Georgia, Serif;text-decoration:none"   href="/user/new">Sign up</a>

  </div>