

body {
    background-color: #b0c4de;
}


#para1 {
    text-align: center;
    color: red;
}


#para2 {
    text-align: left;
    color: #0101DF;
}

#para3 {
    text-align: right;
    color: #000000;
}

