<div id="footbar" >


  <ul>

    <li><a href="/about ">About Us</a></li>
    <% if @current_user.blank? %>
       <li><a href="/login">Login</a></li>
       <li><a href="/user/new">Sign up</a></li>
    <%end%>

  </ul>


</div>

<p style="position:absolute; TOP:1000px; LEFT:530px;font-size:15px;font-family:Georgia, Serif;">© 2014 MastEvent. All right reserved.</p>