<div id="footbar" >


  <ul>

    <li><a href="/about ">About Us</a></li>

    <% if @current_user.blank? %>
       <li><a href="/login">Login</a></li>
       <li><a href="/user/new">Sign up</a></li>
    <%end%>

    <p >© 2014 MastEvent. All right reserved.</p>


  </ul>

  


</div>

