<a style="position:absolute; TOP:0px; LEFT:160px; WIDTH:50px; HEIGHT:50px" href="http://www.mastevent.com"><img src="http://images.cooltext.com/3961270.png" width="299" height="95" alt="MastEvent" /></a>

<div id="navbar">


  <ul>

    <li><a href="/about">About Us</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Sign up</a></li>

  </ul>


</div>

<em><p style="position:absolute; TOP:80px; LEFT:190px;font-size:30px;font-family:Comic Sans MS, cursive, sans-serif ">Want To Make Money?</p></em>
<em><p style="position:absolute; TOP:130px; LEFT:190px;font-size:30px;font-family:Georgia, Serif; ">Join Events And Get Paid!</p></em>

<img   src="/images/moto2.png " style="position:absolute; TOP:180px; LEFT:0px"/>
