<a style="position:absolute; TOP:0px; LEFT:160px; WIDTH:50px; HEIGHT:50px" href="http://www.mastevent.com"><img src="/images/logo.png" width="299" height="95" alt="MastEvent" /></a>

<div id="navbar">


  <ul>

    <li><a href="/about">About Us</a></li>
    <% if  @current_user.blank? %>
        <li><a href="/login">Login</a></li>
        <li><a href="/user/new">Sign up</a></li>
    <%end%>

  </ul>


</div>
