<!DOCTYPE>
<html>
<head>
<meta content='text/html ;charset=UTF-8' http-equiv='content-type'/>
</head>


	<body>
		<h1>Hey,</h1>
		<p>Welcome To MastEvent!</p>
		<p>You Successfully Register to the MastEvent</p><br/>
		<p>Your Username/Email: <%=@user.email%></p>
		<p>Your Password: <%=@user.password%></p>
	</body>
</html>