<style>
#para1 {
    text-align: right;
    color: white;
    font-size: 25px;
    
    display: inline;

}

#para6 {
    
    color: blue;
    font-size: 25px;
    
    

}

#para2 {
    text-align: left;
    color: #0101DF;
    font-size: 40px;
    display: inline;

    
}
#padding{
   padding-top: 15px;
    padding-right: 70px;
    padding-bottom: 25px;
    padding-left: 50px;
}


#para3{
    text-align: center;
    color: #0101DF;
    font-size: 20px;
    font-family: "Helvetica", sans-serif

}

#para4{
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

#para5{
  text-align: center;
  color: #DF013A;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

#menu {
  width: 1020px;
  height: 30px;
  display: inline;
 
}

#menu li {
  float: right ;
  
}

#menu ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display: inline;
}

#menu a {
  display: block;
  color: blue;
  text-decoration: none;
  padding: 4px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

#menu a:hover {
  background: none;
  display: inline;
}

   
   body{
   	
   	background-image: url("/images/wall12.jpg");
   	background-repeat: repeat;
   }

   #content {
  width: 980px;
  background-color: none;
  color:white;

  padding: 20px;
}




#para7{
    text-align: left;
    color: #0101DF;
    font-size: 20px;
    font-family: "Helvetica", sans-serif

}
#para8{
  text-align: left;
  color: white;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

#para9{
  text-align: left;
  color: #DF013A;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}


   

</style>