<style>
#para1 {
    text-align: right;
    color: black;
    font-size: 25px;
    
    display: inline;

}

#para2 {
    text-align: left;
    color: #0101DF;
    font-size: 40px;
    display: inline;

    
}


#para3{
    text-align: center;
    color: #0101DF;
    font-size: 20px;
    font-family: "Helvetica", sans-serif

}

#para4{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

#para5{
  text-align: center;
  color: #DF013A;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

   
   body{
   	
   	background-image: url("/images/wall2.jpg");
   	background-repeat: repeat;
   }

</style>