




	
	<div>
	
	
	<p style="font-size:18px;margin-top:80px">MastEvent is a very good platform for those who wants some extra bucks in their pockets in their free time. In MastEvent You Just have to select event suitable to your time and location,Register for that event and You will get the call from Organisers.No  coordinators in between,So get the full money of your hardwork.</p>

	<strong><h3 style="color:black;font-size:18px;">So Join Event and Get Paid.</h3></strong>



	<br><br><br>
	<h2 style="color:black;">Contact Us</h2><br>

	<h3 style="color:black;">Abhinav kumar Singh</h3>
	<h3 style="color:black;">09545027301</h3>
	
	<h3 style="color:black;">Founder & CEO MastEvent</h3><br>
	<h2 style="color:black;">Email</h2>
	<h3 style="color:black;">kumarabhinav.1692@gmail.com</h3>



	
	</div>

	
