<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/home_new.css">

	<title>MastEvent</title>
</head>

<body> 

 	
 	<a style="position:absolute; TOP:0px; LEFT:160px; WIDTH:50px; HEIGHT:50px" href="http://www.mastevent.com"><img src="http://images.cooltext.com/3961270.png" width="299" height="95" alt="MastEvent" /></a>
  
  <div id="navbar"> 
     

   <ul> 
    
     <li><a href="/">Home</a></li> 
     <li><a href="/">About Us</a></li> 
     <li><a href="#">Login</a></li> 
     <li><a href="#">Sign up</a></li> 
  
  </ul> 


</div> 



</body> 

</html>
