<%@events.each do |e|%>
    <div>
        <%=e.event_name%><br/>
        Starting On:<%=e.event_start_date%><br/>
        Payement Per Day:<%=e.pay_per_day%><br/>
      <a href="/apply/<%=e.id%>">Join Event</a>
    </div>
    <hr/>
<%end%>