
<html>


<link rel="stylesheet" type="text/css" href="/css/default.css">
    <body>
        <div align="center">
            <h2>Post A Event<h2>
        </div>
        
        <div align="center">
            
            <form method='post' action='post_success'>
                <p>
                <label> Event Name :   </label>
                <input class="long" type="text" name="eventname" /><br>
                </p>        
                
                <p>
                <label>Date Of Event :</label>
                  <input class="long" type="text" name="date_of_event" /><br>

                </p>
                
                <p> 
                <label>Coordinators Required:</label>
                    <input class="long" type="text" name="coordinator_required" /><br><br>
                </p>

                <p>
                <label>Pay Per Day:</label>

                    <input class="long" type="text" name="pay_per_day" /><br>
                </p>

                </p>
                <label>Location:</label>
                    <input class="long" type="text" name="location" /><br>
                </p>
                
            </p>
                <label>Description: </label>
                    <textarea cols="50" rows="4" name="description"></textarea><br><br>
            </p>

                <input type="submit" value="Post" />
            
        </form>
     </div>
        
    

    
 

    </body>
</html>