<html>
    <div align="center">
    <h2>Information Regarding Event</h2>
    </div>
    <body>
        <div align="center">
            <table border="0" cellpadding="0" cellspacing="0">
          
                <form method='post' action='save_user_event_info'>
                      
                    <tr>
                        <td width="100">Address:</td>
                        <td><input type="text" name="address" /></td><br>        
                    </tr>

        
                    <tr>
                        <td width="100">Event Exprience*<br>(Number of Events you have Done) :</td>
                                
                        <td>
                            <select>
                                <option value="0">0</option>
                                <option value="less than 5">less than 5</option>
                                <option value="less than 10">less than 10</option>
                                <option value="greater than 10">greater than 10</option>
                                <br><br>
                            </select>
                            <name="event_exp"/>
                           
                        </td>

                    </tr> 
                    

        
                    <tr>
                        <td width="100">Preferred Location*:</td>
               
                        <td>
                            <div style="overflow: auto; width: 160px; height: 100px; border: 1px solid #336699;padding-left: 5px"> 
     
                                <input type="checkbox" name="preferred_location" value="Pune"> Pune<br>
                                <input type="checkbox" name="preferred_location" value="Pimpri_Chinchwad"> Pimpri-Chinchwad<br>
                                <input type="checkbox" name="preferred_location" value="Aundh"> Aundh<br>
                                <input type="checkbox" name="preferred_location" value="Lonavala"> Lonavala<br>
                                <input type="checkbox" name="preferred_location" value="Magarpatta_city"> Magarpatta City<br>
                                <input type="checkbox" name="preferred_location" value="Koregaon_park"> koregaon-  Park<br>
    
                            </div>   
                            <br><br>   
                        </td> 
                    </tr>   
                    

                    <tr>
                        <td width="100">Suitable Day*:</td>
                        <td>
                            <div style="overflow: auto; width: 160px; height: 100px; border: 1px solid #336699;padding-left: 5px"> 
    
                                <input type="checkbox" name="suitable_day" value="Monday"> Monday<br>
                                <input type="checkbox" name="suitable_day" value="Tuesday"> Tuesday<br>
                                <input type="checkbox" name="suitable_day" value="Wednesday"> Wednesday<br>
                                <input type="checkbox" name="suitable_day" value="Thursday"> Thursday<br>
                                <input type="checkbox" name="suitable_day" value="Friday"> Friday<br>
                                <input type="checkbox" name="suitable_day" value="Saturday">Saturday<br>
                                <input type="checkbox" name="suitable_day" value-="Sunday">Sunday<br>
            
                            </div>
                            <br><br>      
                        </td> 
                    </tr>   
                
        
                    <tr>
                        <td width="100">Suitable Time*:</td>
                        <td>
                            From:<input type="time" name="suitable_time" >
                                
                            To:<input type="time" name="suitable_time" >
                                
                                <br><br>      
                        </td>
                    </tr>       
                
        
                    <tr>
                        <td width*="100">Do You Have Bike:</td>
                        <td>
                            <input type="radio" name="vehicle" value="no">Yes 
                            <input type="radio" name="vehicle" value="no">No 
                             <br><br>
                        </td>
                    </tr>
        
                    <tr>
                        <td width="100">Qualification*:</td>
                        <td>
                            <div style="overflow: auto; width: 160px; height: 100px; border: 1px solid #336699;padding-left: 5px"> 
                                <input type="checkbox" name="qualification" value="10"> 10th<br>
                                <input type="checkbox" name="qualification" value="12"> 12th<br>
                                <input type="checkbox" name="qualification" value="graduation_in_progress"> Graduation In   Progress<br>
                                <input type="checkbox" name="qualification" value="graduation_completed"> Graduation Completed<br>
                            </div>      
                        <br>
                        </td> 
                    </tr>   
                    
                    <tr>
                        <td width="100"></td>
                        <td> <input type="submit" value="Next" /></td>
                    </tr>
                
        
            </form>
        </table>
    </div>
    </body>
</html>