#footbar ul { 
   
    width: 1300px;
    height: 140px;
    position: bottom;
    border: 0;
    list-style-type: none; 
    background-color:#A3A3A3;

; 
    
    position: absolute;
    
    top: 900px;
     
        
    } 

#footbar ul li {  

    display: inline;
    } 

#footbar ul li a { 

    text-align: center;
    text-decoration: none; 
   
    
    background-color: none;
    display: inline;i
    
    
    font-size:18px;
    margin:10px;
   
    
    } 

#footbar p{
    position:absolute;
     
     font-size:15px;
     font-family:Georgia, Serif;
}

