<form class="register" method="post" action="/user/login">
  <input type="email" class="register-input" placeholder="Email address" name="email">
  <input type="password" class="register-input" placeholder="Password" name="password">
  <input type="submit" value="Submit" class="register-button">
</form>