
<div align="center">
  <h2>User Registration</h2>
</div>

<div align="center">
  <form method="post" action="/user/signup">
    <table style="height: 50%;" border="0" cellpadding="0" cellspacing="0">

      <tr>
        <td width="100">Email *:</td>
        <td><input type="email" name="email"/></td><br><br>
      </tr>


      <tr>
        <td width="100">Password *:</td>
        <td><input type="password" name="password"/></td><br><br>
      </tr>

      <tr>
        <td width="100">Mobile No *:</td>
        <td>(91)<input type="tel" name="mobile_number" /></td><br><br>

      </tr>

      <tr>
        <td width="100"></td>
        <td><input type="submit" value="Next" /></td>
      </tr>
      <!--
                      <tr>
                          <td>
                              <form enctype="multipart/form-data" action="uploader.php" method="POST">
                              <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                              Choose a file to upload: <input name="uploadedfile" type="file" /><br />
                              <input type="submit" value="Upload File" />
                              </form>
                          </td>
                      </tr>
       -->


    </table>
  </form>
  <p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>

</div>